{% extends 'base.html' %} {% block body %}

<body>
  <div class="container" style="padding: 35px;">
    <form method="post" action="/playersPage">
      {% csrf_token %}
      <div class="container" style="text-align: center; padding: 125px;">
        <div class="form-group">
          <label for="questions" class="form-label">No. of questions</label>
          <div class="container-fluid">
            <input type="range" class="w-75" min="0" max="10" id="questions" name="no_of_questions"
              oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
          </div>
        </div>
        <!-- <div class="form-group" style="padding-top: 2em;">
          <label for="players">No. of players</label>
          <div class="container-fluid">
            <input type="range" value=2 class="w-75" min="0" max="10" id="players" name="currentPlayersCount"
              oninput="this.nextElementSibling.value = this.value">
            <output>2</output>
          </div>
        </div> -->
      </div>
      <div class="text-center">
        <button class="btn btn-success" type="submit" name="create_room">Generate code</button>
      </div>
    </form>

  </div>
</body>
{%endblock body%}