{% extends 'base.html' %} {% block body %}

<body>
  <div class="container" style="padding: 35px;">
    <form action="#">
      <div class="container" style="text-align: center; padding: 125px;">
        <div class="form-group">
          <label for="questions" class="form-label">No. of questions</label>
          <div class="container-fluid">
            <input type="range" class="w-75 p-3" min="0" max="10" id="questions"
              oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
          </div>
        </div>
        <div class="form-group">
          <label for="players">No. of players</label>
          <div class="container-fluid">
            <input type="range" value=2 class="w-75 p-3" min="0" max="10" id="players"
              oninput="this.nextElementSibling.value = this.value">
            <output>2</output>
          </div>
        </div>
      </div>
      <div class="container-xxl">
        <a href="/playersPage" class="btn btn-dark"
          style="display: flex; align-items: center; justify-content: center;">Generate code</a>
      </div>
    </form>

  </div>
</body>
{%endblock body%}