{% extends 'base.html' %} {% block body %}

<body>
  <h1 style="text-align: center; padding: 25px;">Enter RoomCode</h1>
  <div class="container" style="padding: 125px;">
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Enter roomcode" aria-label="Enter roomcode"
      aria-describedby="button-addon2">
    </div>
    <a href="#" class="btn btn-dark" style="display: flex; align-items: center; justify-content: center;">Start</a>
  </form>
  </div>
</body>
{%endblock body%}