{% extends 'base.html' %} {% block body %}

<body>
  <h1 style="text-align: center; padding: 25px;">Enter RoomCode</h1>
  <div class="container">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="container" style="padding: 125px;">
  <form method="post" action="/playersPage">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Enter roomcode" aria-label="Enter roomcode"
      aria-describedby="button-addon2" name="room_code" required>
    </div>
    <div class="text-center">
      <button class="btn btn-success" type="submit" name="enter_room">Start</button>
    </div>
  </form>
  </div>
</body>
{%endblock body%}