<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {%load static%}
  <link rel="stylesheet" href="{% static 'styles/ide.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>

<body>
  <div class="header">Select the language from the menu and start coding</div>
  <div style="height: 100%;overflow-y: auto;">
    <div style="float:left;width:25%;overflow-y: auto;min-height: 50em; background-color:whitesmoke;">
      <div class="d-flex flex-column align-items-stretch flex-shrink-0">
        <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
          </svg>
          <span class="fs-5 fw-semibold">&nbsp;Questions</span>
        </div>
        <div class="list-group list-group-flush border-bottom">
          {% for no_of_question in no_of_questions %}
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Question {{ no_of_question }}</strong>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container-fluid" style="float:right;width:75%;">
      <div class="container" style="padding: 2em;">
        Select language:
        <select id="languages" class="languages form-select" onchange="changeLanguage()">
          <option value="c++">C++</option>
          <option value="java">Java</option>
          <option value="python">Python</option>
        </select>
      </div>
      <div id="editor" style="min-height: 30em;border-radius: 5px;">
      </div>
      <div class="button-container" style="text-align: center;">
        <button class="btn btn-primary" onclick="executeCode()">Run</button>
      </div>
      <div class="output" style="margin: 12px;"></div>
    </div>
  </div>

  <script src="{% static '/scripts/lib/ace.js' %}"></script>
  <script src="{% static '/scripts/lib/theme-monokai.js' %}"></script>
  <script src="{% static '/scripts/ide.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>