{% extends 'base.html' %} {% block body %}
{% csrf_token %}

<div>

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

<h2>Room Code = {{roomCode}}</h2>
<ul>
  {% for player in players %}
  <li>Player {{ player }}</li>
  {% endfor %}
</ul>
<a href="/ide" class="btn btn-info btn-lg">Start the battle</a>
</div>

{%endblock body%}