{% extends 'base.html' %} {% block body %}

<body>
  <div class="container" style="padding: 200px;">
    <div class="container">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="row">
      <div class="col-6 d-grid gap-2 mx-auto">
        <a href="/createRoom" class="btn btn-dark btn-lg">Create room code</a>
        <a href="/enterRoom" class="btn btn-dark btn-lg">Have a room code</a>
      </div>
    </div>
  </div>

</body>
{% endblock body %}