{% extends 'base.html' %} {% block body %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-6 d-grid gap-2 mx-auto">
        <a href="/createRoom" class="btn btn-primary btn-lg"
          >Create room code</a
        >
        <a href="/enterRoom" class="btn btn-primary btn-lg">Have a room code</a>
      </div>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://kit.fontawesome.com/405cbb940a.js"
    crossorigin="anonymous"
  ></script>
</body>
{% endblock body %}
